body{
    padding:0px;
    margin:0px;
    font-family: Arial, Helvetica, sans-serif;
    background: lavender;
    color:#212529;
}

a{
    text-decoration:none;
    color:white;
}

.banner{
    background:#302b2b;
	min-height:30px;
	display:flex;
	justify-content:space-around;
	align-items:center;
    color:white
}

table{
    width: 75%;
    margin:auto;
}

table th{
    padding:10px;
	border:1px solid #CCCCCC;
	background:#555555;
	color:white;
}

table td{
    padding:10px;
	border:1px solid #CCCCCC;
    text-align: center;
}

.search_form{
    min-height: 30px;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
    display:flexbox;
}


